body {
  margin: 0;
  background-color: #444444;
  color: white;
  font-family: Arial, sans-serif;
}

body #app {
  min-width: 240px;
}

svg {
  fill: currentColor;
}

.row {
  display: flex;
  justify-content: flex-end;
  min-height: 32px;
}
.row button {
  height: 100%
}

.flex {
  flex: 1 0 auto;
}
.flex-0 {
  flex: 0;
}
.align-baseline {
  align-items: baseline;
}

ul.undecorate {
  list-style: none;
  padding: 0;
  margin: 0;
}

input {
  padding-left: 10px;
}
button, input {
  background-color: #222;
  color: white;
  border: 1px solid #444;
  outline: none;
}
button:disabled {
  color: #555;
}
button:disabled svg {
  fill: #555;
}
button:enabled {
  cursor: pointer;
}
button:not(.btn-icon):hover:enabled {
  background-color: #333;
}
button:focus {
  outline: 1px #9bb9df solid;
  outline-offset: -1px;
}
button.btn-icon {
  display: grid;
  place-content: center;
  padding: 0 5px;
}
button.btn-icon.error:hover {
  color: #ff3939;
}
button.btn-icon.success:hover {
  color: #7db053;
}

section + section {
  border-top: 1px solid #222;
  padding-top: 1px;
  margin-top: 1px;
}